{% extends 'base.html' %}
{% block title %}Adicionar Post - DJANGO BLOG{% endblock title %}
{% load static %}
{% block content %}
{% include "includes/nav.html" %}

<div class="p-6">
    <form method="post">
        {% csrf_token %}
        <div class="mb-4">
            <label for="title" class="block text-gray-700 dark:text-gray-200">Título:</label>
            <input
                type="text"
                id="title"
                name="title"
                class="w-full p-2 border border-gray-300 dark:border-gray-700 rounded-lg dark:bg-gray-800 dark:text-gray-100"
                value="{% if post %}{{ post.title }}{% endif %}"
                required
            />
        </div>
        <div class="mb-4">
            <label for="cover" class="block text-gray-700 dark:text-gray-200">Capa (URL da imagem):</label>
            <input
                type="text"
                id="cover"
                name="cover"
                class="w-full p-2 border border-gray-300 dark:border-gray-700 rounded-lg dark:bg-gray-800 dark:text-gray-100"
                value="{% if post %}{{ post.cover }}{% endif %}"
            />
        </div>
        <div class="mb-4">
            <label for="tags" class="block text-gray-700 dark:text-gray-200">Tags:</label>
            <select
                id="tags"
                name="tags"
                multiple
                class="w-full p-2 border border-gray-300 dark:border-gray-700 rounded-lg dark:bg-gray-800 dark:text-gray-100"
            >
                {% for tag in tags %}
                    <option value="{{ tag.id }}" {% if tag in post.tags.all %}selected{% endif %}>{{ tag.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-4">
            <label for="author" class="block text-gray-700 dark:text-gray-200">Autor:</label>
            <input
                type="text"
                id="author"
                name="author"
                class="w-full p-2 border border-gray-300 dark:border-gray-700 rounded-lg dark:bg-gray-800 dark:text-gray-100"
                value="{{ user.username }}"
                readonly
            />
        </div>
        <div class="mb-4">
            <label for="content" class="block text-gray-700 dark:text-gray-200">Conteúdo:</label>
            <textarea
                id="content"
                name="content"
                class="w-full h-64 p-2 border border-gray-300 dark:border-gray-700 rounded-lg dark:bg-gray-800 dark:text-gray-100"
                required
            ></textarea>
        </div>
        <button
            type="submit"
            class="px-4 py-2 text-white bg-green-600 rounded-lg hover:bg-green-700"
        >
            Salvar
        </button>
    </form>
</div>
{% endblock %}
