{% extends 'base.html' %}
{% block title %}{{ post.title }} - DJANGO BLOG{% endblock title %}
{% load static %}
{% load dmd_extras %}

{% block content %}
{% include "includes/nav.html" %}

<div class="lg:p-2.5 md:p-4 p-0">
    <article class="bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700 overflow-hidden">
        {% if post.cover %}
        <img class="w-full lg:h-[520px] h-auto object-cover" src="{{ post.cover }}" alt="{{ post.title }}" />
        {% endif %}
        <div class="items-center mx-auto lg:w-1/2 w-full md:p-8 p-8">
            <div class="-ml-4">
                <h1 class="text-4xl font-bold text-start text-slate-950 dark:text-white mb-0.5">{{ post.title }}</h1>
                <p class="text-gray-500 dark:text-gray-400 mb-2">{{ post.author }} -- {{ post.date }}</p>
                <div class="flex flex-wrap gap-2">
                    {% for tag in post.tags.all %}
                    <span class="bg-gray-700 dark:bg-green-600 text-white dark:text-white px-3 py-1 rounded-full text-sm">{{ tag.name }}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="markdown-content whitespace-pre-wrap -m-6 text-slate-950 dark:text-white">
                {{ post.content|render_markdown|safe }}
            </div>
        </div>
    </article>
</div>
{% endblock %}




